SUPABASE_PROJECT_ID=PLACEHOLDER
SUPABASE_PUBLISHABLE_KEY=PLACEHOLDER
SUPABASE_URL=PLACEHOLDER
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=PLACEHOLDER
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID=PLACEHOLDER
VITE_SUPABASE_PROJECT_ID=PLACEHOLDER
VITE_SUPABASE_PUBLISHABLE_KEY=PLACEHOLDER
VITE_SUPABASE_URL=PLACEHOLDER